@import "tailwindcss";

.font-poppins {
    @apply font-[Poppins];
  }
  .font-jaini {
    @apply font-[Jaini];
  }

button:hover{
  cursor: pointer;
}
h1:hover{
  cursor: pointer;
}

.common-input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border: 1px solid #f59e0b;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0.5rem 0.75rem;
  color: white;
  outline: none;
}

.common-input:focus {
  box-shadow: 0 0 0 1px #f59e0b;
}
.common-th{
  @apply px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider
}
.common-login-btn{
  @apply py-2  border border-gray-600 text-white  rounded-md flex items-center justify-center gap-3 hover:bg-white hover:text-gray-800 transition-all  ease-linear

}
.truck-animation {
  animation: moveTruck 5s ease-in-out infinite;
}

@keyframes moveTruck {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Tailwind gray-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Tailwind gray-400 */
  border-radius: 8px;
}
